{% extends "index.html" %}
{% block title %} Some kind of food.com {% endblock %}
{% block colTwo %}
        <h2>Welcome to Some kind of food.com!</h2>
        <p><strong>VEGAN SHOP </strong>is that place where you can buy <strong>Fresh Fruits and Vegetables</strong> </p>
            <ul>
                <li><p>You can checkout list of fruits <i><a href="fruits.html">here</a></i></p></li>
                <li><p>And vegetables are <i><a href="vegetables.html">here</a></i></p></li>
            </ul>
        <p><<<--- Or just use the big ones on the left</p>
{% endblock %}